// Primary

$Softred: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
$Darkdesaturatedcyan: hsl(167, 40%, 24%); // (graphic design text)
$Darkblue: hsl(198, 62%, 26%); // (photography text)
$Darkmoderatecyan: hsl(168, 84%, 80%); //  (footer)

// Neutral

$Verydarkdesaturatedblue: hsl(212, 27%, 19%);
$Verydarkgrayishblue: hsl(213, 9%, 39%);
$Darkgrayishblue: hsl(232, 10%, 55%);
$Grayishblue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);

$Barlow: "Barlow", sans-serif; // 600
$Fraunces: "Fraunces", serif; // 700 , 900

@mixin display($display: flex, $align: center, $justify: center) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}

@mixin button {
  font-family: $Fraunces;
  cursor: pointer;
  outline: none;
}
